@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #74c9f4;
  font-family: Arial, Helvetica, sans-serif;
}

#intro {
  color: #fffdfe;
  background-color: #0181cb;
  font-size: 3em;
  font-family: "Lucida Bright", Courier, monospace;
  display: block;
  text-align: center;
  padding: 0.5em;
  margin: 2em 5em;
}

#newGameButton:hover {
  background-color: #0d6cac
}

#correctAnswer {
  display: none;
}

#correctAnswer.reveal {
  background-color: green;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.5em;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#correctAnswer.reveal h1 {
  font-size: 2em;
}

#wrongAnswer {
  display: none;
}

#wrongAnswer.reveal {
  background-color: red;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.5em;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

#wrongAnswer.reveal h1 {
  font-size: 2em;
}

.subtitle {
  font-size: 0.6em;
}

.GameButton {
  background-color: #edb8c0;
  border-radius: 20px;
  padding: 0.75em;
  display: block;
  text-align: center;
  margin: 1em 1em;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.GameButton:hover {
  background-color: #ee6c9c;
}